USE [master]
GO
/****** Object:  Database [TestData]    Script Date: 10.04.2017 11:42:29 ******/
CREATE DATABASE [TestData] ON  PRIMARY 
( NAME = N'TestData', FILENAME = N'C:\SqlData\TestData.mdf' , SIZE = 270336KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestData_log', FILENAME = N'C:\SqlData\TestData_log.ldf' , SIZE = 466944KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestData]
GO
USE [TestData]
GO
/****** Object:  User [webuser]    Script Date: 10.04.2017 11:42:29 ******/
--CREATE USER [webuser] FOR LOGIN [webuser] WITH DEFAULT_SCHEMA=[dbo]
--GO
--sys.sp_addrolemember @rolename = N'db_owner', @membername = N'webuser'
GO
/****** Object:  Table [dbo].[TestTable]    Script Date: 10.04.2017 11:42:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTable](
	[Id] [uniqueidentifier] NOT NULL,
	[MyStringField] [varchar](5) NOT NULL,
	[MyDateField] [datetime] NOT NULL,
	[MyBoolField] [bit] NOT NULL,
	[MyIntField] [int] NOT NULL,
	[MyMoneyField] [money] NOT NULL,
 CONSTRAINT [PK_TestTable] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
